html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	background-color: #457b9d;
}

.box {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.personal-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #6A96D8;
	padding-right: 20px;
	color: white;
	font-weight: bold;
	margin-top: 100px;
	line-height: 20px;
	letter-spacing: 2px;
}

.img-personal {
	opacity: 0.6;
}

.img-personal:hover {
	opacity: 1;
}

.text-section {
	padding: 0px 15px;
}

.line {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
	opacity: 0.5;
}

.today-hr {
	width: 140px;
}

img {
	color: white;
}

.time {
	opacity: 0.6;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.right-message p:nth-child(2) {
	/*width: 250px;*/
	padding: 10px;
	margin-top: 3px;
	font-size: 14px;
	background-color: #E6EDF6; 
}

.first-message {
	width: 250px;
}

.message {
	width: 90px;
}

.left-message p:nth-child(2) {
	text-align: right;
	margin-left: 80px;
	padding: 10px;
	margin-top: 3px;
	font-size: 14px;
	background-color: #F2F2F2;
}

.left-message p:nth-child(1) {
	margin-left: 300px;
}

.second-message {
	width: 250px;
}

.blocked-message {
	width: 200px;
	text-align: right;
	margin-left: 130px;
	padding: 0.1px 5px;
	padding-right: 10px;
	margin-top: 3px;
	margin-bottom: 14px;
	font-size: 14px;
	background-color: #FFC2C1;
}

.type {
	padding: 6px;
	padding-bottom: 15px;
}

input {
	/*width: 410px;*/
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background-color: inherit;
}

.submit2 {
	cursor: pointer;
	color: #6998DB;
	font-weight: bold;
	margin-left: 90px;
}




